@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: rgb(35, 0, 81);
    font-family: 'Poppins', sans-serif;
    color:white;
    margin:0;
}

header {
    display:flex;
    justify-content:center;
    background-color:rgba(0,0,0,0.4);
    color:rgb(219, 116, 133);
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:30px 0;
}

.card {
    background-color: white;
    color:black;
    width:90%;
    border-radius: 15px;
    padding: 20px 50px;
    margin: 20px 0;
    border: 1px solid rgba(0, 0, 0,0.5);
    position: relative;
}

.card h2{
    padding-bottom:20px;
    text-align: center;
}


.stats{
    width:90%;
    display:flex;
    justify-content: space-between;
    font-weight: bold;
}

.input-group{
    border:rgba(0, 0, 0, 0.313) 1px solid;
    display:flex;
    width:fit-content;
    padding:5px 10px;
    border-radius: 5px;
}

.input-group input{
    border:none;
    font-size: 18px;
}

.input-group input:focus{
    outline:none;
}

form {
    display:flex;
    flex-direction: column;
    align-items: center;
}

form p{
    text-align: center;
    font-size:small;
    color:rgb(86, 86, 86);
}

.btn {
    border:none;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 5px;
}

.primary{
    background-color: rgb(241, 129, 148);
    color:white;
    cursor:pointer;
}

.secondary{
    background-color: lightgray;
}

.close{
    position:absolute;
    right:15px;
    top:15px;
    background: none;
    height:15px;
    width:15px;
    padding:0;
    margin:0;
    cursor:pointer;
}

.edit{
    position:absolute;
    right:35px;
    top:15px;
    background: none;
    height:15px;
    width:15px;
    padding:0;
    margin:0;
    cursor:pointer;
}

.rating{
    border: 1px white solid;
    width:55px;
    height:55px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
    color:white;
    background-color:rgb(241, 129, 148);
}

.ratingItem {
    position:absolute;
    left:-10px;
    top:-10px;
}

input[type="radio"] {
    opacity: 0.2;
    height:55px;
    width:55px;
    margin:0;
}

.formRatingItem{
    position:relative;
    margin: 0px 2px;
}

.ratingLabel{
    position:absolute;
    top:0;
    cursor:pointer;
    background: rgb(227, 227, 227);
    color:rgb(37, 37, 37);
}

.ratingLabel:hover{
    background: rgb(201, 201, 201);
}

input[type="radio"]:checked + .ratingLabel{
    background-color:rgb(241, 129, 148);
    color:white;
}

.ratingList{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.aboutIcon{
    position:fixed;
    bottom:15px;
    right:10px;
    color:rgb(241, 129, 148);
}

.aboutIcon:hover {
    color: rgb(126, 66, 76);
}

@media only screen and (min-width: 900px){
    .card{
        width:60%;
    }

    .stats{
        width:60%;
    }
    
}

@media only screen and (max-width: 410px){
    .input-group{
        transform: scale(0.7);
    }

    .rating{
        height:45px;
        width:45px;
    }

    input[type="radio"] {
        height:45px;
        width:45px;
    }
}